<mat-card>
    <mat-card-content>
        <div  *ngFor="let error of errors">
            <div class=" text-left alert alert-danger" role="alert">
                <mat-icon class="mt-3">warning</mat-icon>
                {{ error }}
            </div>
          </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2 >Sign Up</h2>
        <mat-form-field class="full-width-input">
            <input matInput placeholder="username" formControlName="username" required>
            <mat-error>
              Please provide a valid username address
            </mat-error>
          </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Re-Enter Password" formControlName="re_password" required>
            <mat-error>
              Please provide a valid password
            </mat-error>
          </mat-form-field>
        <button mat-raised-button color="accent">SignUp</button>
      </form>
    </mat-card-content>
    <p class="text-center mt-4">Don you have account? <a class="nav-link" href="#" [routerLink]="['/login']">Sign In</a></p>
  <br>
  </mat-card>
  