<div class="row vh-100 d-flex justify-content-center align-items-center">
    
        <div class="col-md-4 card-product-grid">
        <figure class="card card-product-grid darken-1">
            <div class="img-wrap"> 
                <mat-icon class="w-100 icon-display icon_clr">supervised_user_circle</mat-icon>
                <a href="#"  routerLink="/user" class="title font-weight-bold">Users </a>
            </div> <!-- img-wrap.// -->
         
                   
                   
        </figure>
    </div> <!-- col.// -->
        <div class="col-md-4 card-product-grid">
            <figure class="card card-product-grid darken-1">
                <div class="img-wrap"> 
                    <mat-icon class="w-100 icon-display icon_clr">add_shopping_cart</mat-icon>
                    <a href="#" routerLink="/products" class="title font-weight-bold">Products </a>
                </div> <!-- img-wrap.// -->
             
                       
               
            </figure>
        </div>
       
   

</div>
